<!DOCTYPE HTML>
<html>
<head>
<% meta_get(); %>
<title>NETGEAR Router <%basic_cgi_get_param("ModuleName");%></title>
<link rel="stylesheet" href="<%gui_cgi_no_header_style("css/table.css");%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<% script_get(); %>
<script language="javascript" type="text/javascript">
<!-- 

function loadSettings()
{
	var cf = document.forms[0];
	var conn_type = cf.ipv6_proto.value;

}
//-->
</script>
</head>
<body  style="margin:0px;padding:0px;background-color:transparent" >
<form name="basic" method="POST" action=""> 
<table border="0"   style="width:600px" >



<tr><td colspan="2" height="12"  ><div style="background-image:url('seprator.gif');width:100%;background-repeat:repeat-x;">&nbsp;</div></td></tr>

</table>

  <INPUT name=ipv6_proto type=hidden value= "NVRAM_ipv6_proto">
</form>

</body>
</html>
