<html>
<head>
<title>W6B-T223-001</title>
<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
<link href="css/new_custom.css" rel="stylesheet" type="text/css">
<script src="jquery.js"></script>
<script src="script/script.js"></script>
<script src="func.js"></script>
<script src="utility.js"></script>
</head>

<body onload="" class="page-body">
<div class="container-fluid frame-content" id="frame-content">
    <div class="row">
        <div class="col-md-12">
            <form id="target"  name="frmRules" method="POST" action="SetWanAdv.cgi">
                <input type="hidden" name="buttonHit">
                <input type="hidden" name="buttonValue">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">DMZ Setup</div>
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="dmz_enable" type="checkbox" name="dmz_enable" value="dmz_enable" class="form-check-input">Default DMZ Server
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="mui-textfield input-ip">
                            <input id="dmz_ipaddress1" type="text" name="dmzip1" class="form-control" maxlength="3" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
                            <input id="dmz_ipaddress2" type="text" name="dmzip2" class="form-control" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                            <input id="dmz_ipaddress3" type="text" name="dmzip3" class="form-control" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                            <input id="dmz_ipaddress4" type="text" name="dmzip4" class="form-control" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)">
                            <label tabindex="-1">IP address for DMZ server</label>
                        </div>
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-subheader">
                        <div class="card-title">Advance Setup</div>
                    </div>
                    <div class="card-body">
                      <!--  <% is_dsl_or_router("is_dsl_start"); %>
                        <div class="mui-textfield">
                            <select class="form-control" id="wan_preference" name="wan_preference" size="1">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            <label tabindex="-1"></label>
                        </div>
                        <% is_dsl_or_router("is_dsl_end"); %>-->
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="disable_dos" type="checkbox"  name="disable_spi" value="disable_spi" class="form-check-input">Disable Port Scan and DoS Protection
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="response_ping" type="checkbox" name="rspToPing" value="rspToPing" class="form-check-input">Respond to Ping on Internet Port
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="disable_igmp" type="checkbox" name="disable_gproxy" value="disable_gproxy" class="form-check-input" onClick="igmp_disable_click();">Disable IGMP Proxying
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="disable_sip" type="checkbox" name="disable_sip" value="disable_sip" class="form-check-input">Disable SIP ALG
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                     <!--   <%bt_igmp_support("h_start");%>
                        <div class="form-check" id="bt_igmp_container">
                            <label class="form-check-label">
                                <input id="bt_igmp_chhh" type="checkbox" name="bt_igmp_enable" value="enable_bt_igmp" class="form-check-input">Support British Telecom (BT)IGMP Proxying
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <%bt_igmp_support("h_end");%>
                        <%ft_igmp_support("h_start");%>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="WAN_ft_igmp_enable" type="checkbox" name="ft_igmp_enable" value="enable_ft_igmp" class="form-check-input">Support Orange S.A. IGMP Proxying
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <%ft_igmp_support("h_end");%>-->
                      
					   <div class="mui-textfield">
                            <input id="wan_mtu" class="form-control" type="text" name="wan_mtu" size="5" maxlength="4">
                            <label tabindex="-1">MTU Size(in bytes)</label>
                        </div>
                        <p>NAT Filtering</p>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="NatInboundFiltering" id="nat_filtering_secured" value="Secured">
                                Secured
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
						<div class="form-check form-check-radio form-check-next">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="NatInboundFiltering" id="nat_filtering_open" value="Open">
                                Open
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                   <!--  <% russia_specific_support("h_start"); %>
                   <div class="card-divider"></div>
                    <div class="card-subheader">
                        <div class="card-title">VPN Pass-Through</div>
                    </div>
                    <div class="card-body">
                        <p>IPSec Pass-Through</p>
                        <div class="form-check form-check-radio ">
                            <label class="form-check-label">
                                <input class="form-check-input" id="enable_ipsec_passthrough1" type="radio" name="IPSecPassthrough" value="enable">
                                Enable
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-radio form-check-next">
                            <label class="form-check-label">
                                <input class="form-check-input" id="enable_ipsec_passthrough0" type="radio" name="IPSecPassthrough" value="disable">
                                Disable
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <p>PPTP Pass-Through</p>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" id="enable_pptp_passthrough1" type="radio" name="PPTPPassthrough" value="enable">
                                Enable
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-radio form-check-next">
                            <label class="form-check-label">
                                <input class="form-check-input" id="enable_pptp_passthrough0" type="radio" name="PPTPPassthrough" value="disable">
                                Disable
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <p>L2TP Pass-Through</p>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" id="enable_l2tp_passthrough1" type="radio" name="L2TPPassthrough" value="enable">
                                Enable
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-radio form-check-next">
                            <label class="form-check-label">
                                <input class="form-check-input" id="enable_l2tp_passthrough0" type="radio" name="L2TPPassthrough" value="disable">
                                Disable
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <% russia_specific_support("h_end"); %>-->
                    <!-- /* RU_IPTV start */ -->
                   <!-- <% russia_specific_support_vlan("h_start"); %>
                    <div class="card-divider"></div>
                    <div class="card-subheader">
                        <div class="card-title">Bridge IPTV Streaming to</div>
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="bri_lan1" type="checkbox" name="enable_iptv_lan1" value="iptv_lan1" class="form-check-input">LAN 1
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="bri_lan2" type="checkbox" name="enable_iptv_lan2" value="iptv_lan2" class="form-check-input">LAN 2
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="bri_lan3" type="checkbox" name="enable_iptv_lan3" value="iptv_lan3" class="form-check-input">LAN 3
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="bri_lan4" type="checkbox" name="enable_iptv_lan4" value="iptv_lan4" class="form-check-input">LAN 4
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="brig_ssid1_ch" type="checkbox" name="enable_iptv_wlan1" value="iptv_wlan1" class="form-check-input">Wireless Network NVRAM_wl0_ssid
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="brig_ssid1_ch" type="checkbox" name="enable_iptv_wlan1" value="iptv_wlan1" class="form-check-input">Wireless Network NVRAM_wl0_ssid
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="brig_ssid2_chh" type="checkbox" name="enable_iptv_wlan2" value="iptv_wlan2" class="form-check-input">Wireless Network NVRAM_wl1_ssid
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <% russia_specific_support_vlan("h_end"); %>-->
                    <!-- /* RU_IPTV end */ -->
                    <div class="card-bottom">
                        <button id="apply" value="Apply"  onClick="buttonClick(this,'Apply');" type="submit" name="apply" class="btn btn-primary pull-right btn-round">Apply</button>
                    </div>
                </div>

                <!-- <input class="table-input" type="hidden" name="wan_way" value="1500"> -->
                <!-- <input class="table-input" name="nat_inbound_filtering" type=hidden value= "NVRAM_nat_inbound_filtering"> -->
                <!-- <% is_dsl_or_router("is_dsl_start"); %> -->
                <!-- <input type="hidden" name="wan_proto" value= "NVRAM_wan0_proto"> -->
                <!-- <input type="hidden" name="nvram_wan_preference" value= "NVRAM_wan_preference"> -->
                <!-- <input name=wan0_vlanId type=hidden value= "NVRAM_wan0_vlan_id"> -->
                <!-- <input name=wan0_vlanId_enable type=hidden value= "NVRAM_wan0_vlan_id_enable"> -->
                <!-- <% is_dsl_or_router("is_dsl_end"); %> -->
                <!-- <% is_dsl_or_router("is_router_start"); %> -->
                <!-- <input type="hidden" name="wan_proto" value= "NVRAM_wan_proto"> -->
                <!-- <% is_dsl_or_router("is_router_end"); %> -->
                <!-- <input type="hidden" name="nvram_mtu" value= "NVRAM_wan_mtu"> -->
                <!-- <input name="dmz_ip" type=hidden value= "NVRAM_dmz_ipaddr"> -->
                <!-- /* VPN */ -->
              <!--  <% russia_specific_support("h_start"); %>
                <input type="hidden" name="ipsec_passthrough" value= "NVRAM_ipsec_passthrough">
                <input type="hidden" name="pptp_passthrough" value= "NVRAM_pptp_passthrough">
                <input type="hidden" name="l2tp_passthrough" value= "NVRAM_l2tp_passthrough">
                <% russia_specific_support("h_end"); %>-->
                <!-- /* RU_IPTV start */ -->
               <!-- <% russia_specific_support_vlan("h_start"); %>
                <input name="iptv_intf_lan1" type=hidden value= "<% get_iptv_bridge_interface("iptv_lan1"); %>">
                <input name="iptv_intf_lan2" type=hidden value= "<% get_iptv_bridge_interface("iptv_lan2"); %>">
                <input name="iptv_intf_lan3" type=hidden value= "<% get_iptv_bridge_interface("iptv_lan3"); %>">
                <input name="iptv_intf_lan4" type=hidden value= "<% get_iptv_bridge_interface("iptv_lan4"); %>">
                <input name="iptv_intf_wlan1" type=hidden value= "<% get_iptv_bridge_interface("iptv_wlan1"); %>">
                <input name="iptv_intf_wlan2" type=hidden value= "<% get_iptv_bridge_interface("iptv_wlan2"); %>">
                <% russia_specific_support_vlan("h_end"); %>-->
                <!-- /* RU_IPTV end */ -->
            </form>
        </div>
    </div>
</div>
</body>

<script>
function iptocol (ip ,preffix) {
	var arr_ip = ip.split('.')
	for (var i = 0 ;i < arr_ip.length; i++) {
		let id_item =  preffix+ (i+1)
		document.getElementById(id_item).value = arr_ip[i]
	}
}
function coltoip(preffix) {
	var ip =""
	for (var i=1; i<=4 ;i++ ) {
		idname= preffix+i
		 ip += document.getElementById(idname).value
		 if (i!=4)
			ip+="."
	}
	
	return ip;
}
function getData(){
	var formdata = {};
	formdata.dmz_enable =  ( $('#dmz_enable').attr('checked') ) ? "1" : "0"
	formdata.dmz_ipaddr =  coltoip("dmz_ipaddress")
	formdata.disable_igmp = ( $('#disble_igmp').attr('checked') ) ? "1" : "0"
	formdata.response_ping = (  $('#response_ping').attr('checked') ) ? "1" : "0"
	if (document.getElementById('nat_filtering_open').checked ){
		formdata.NatInboundFiltering ="1"
	}
	else {
	formdata.NatInboundFiltering ="0"
	}
	formdata.wan_mtu=$('#wan_mtu').val()
	return formdata
}
$(document).ready(function()
{
    $("#target").submit(function(e) {
		e.preventDefault();
		var formdata = getData()
		console.log (formdata)
		$.ajax({
			type: "POST",
			url: $('#target').attr('action'), 
			contentType: "application/json",
			data: JSON.stringify(formdata),
			dataType: "json",
			success: function(response) {
			  console.log("Success:", response);
			},
			error: function(error) {
			  console.error("Error:", error);
			}
      });
        buttonFilter();
		location.reload()
		
    });
	init_setting ()
});
function init_setting(){
	$.get("GetWanAdv.cgi",function (data){
			
		const  param = $.parseJSON(JSON.stringify(data))
		
		dmz_enable = param.dmz_enable;
		if ( dmz_enable == "1")
			$('#dmz_enable').attr('checked',true)
		else 
			$('#dmz_enable').attr("checked",false)
			
		dmz_ipaddr = param.dmz_ipaddr
		
		iptocol(dmz_ipaddr,"dmz_ipaddress")
		
	
		response_ping = param.response_ping;
		if (response_ping  == "1")
			$('#response_ping').attr('checked',true)
		else 
			$('#response_ping').attr('checked',false)
		disble_igmp = param.disable_igmp
		if ( disble_igmp  == "1" ) 
			$('#disble_igmp').attr('checked',true)
		else 
			$('#disble_igmp').attr('checked',false)
			
		disable_sip =  param.disable_sip
		if ( disable_sip  == "1" ) 
			$('#disable_sip').attr('checked',true)
		else 
			$('#disable_sip').attr('checked',false)
			
		NatInboundFiltering = param.NatInboundFiltering
		if (NatInboundFiltering == "1")
			document.getElementById('nat_filtering_open').checked=true
		else 
			document.getElementById('nat_filtering_secured').checked=true
		wan_mtu = param.wan_mtu 
		$('#wan_mtu').val(wan_mtu)
	});
}

function check_data()
{
    var cf = document.forms[0];
    var msg = "";
    if (cf.dmz_enable.checked)
    {
        if(checkIP(cf.dmzip1,cf.dmzip2,cf.dmzip3,cf.dmzip4,254)
            || (parseInt(cf.dmzip4.value,10) == 0))
            msg += "DMZ Server is not a valid IP address.\n";
    }
    msg+= checkInt(cf.wan_mtu, "MTU value", 1, parseInt(cf.wan_way.value,10), true);

    if((parseInt(cf.wan_mtu.value,10)>parseInt(cf.wan_way.value,10))
            ||(parseInt(cf.wan_mtu.value,10)<616))
        msg += "Invalid MTU value, valid range is 616 to "+cf.wan_way.value+"\n"; 
    
    if("NVRAM_ipv6_enable" == "1" && "NVRAM_ipv6_proto" == "pppoeautoconfig"){
        if((parseInt(cf.wan_mtu.value,10)<1280))
            msg+="MTU should not less than 1280 when IPV6 PPPoE enable.";
    }

    if (msg.length > 1)
    {
        alert(msg);
        return false;
    }
    cf.dmzip1.value = parseInt(cf.dmzip1.value,10);
    cf.dmzip2.value = parseInt(cf.dmzip2.value,10);
    cf.dmzip3.value = parseInt(cf.dmzip3.value,10);
    cf.dmzip4.value = parseInt(cf.dmzip4.value,10);
    cf.dmz_ip.value = cf.dmzip1.value+'.'+cf.dmzip2.value+'.'+cf.dmzip3.value+'.'+cf.dmzip4.value;
    cf.wan_mtu.value = parseInt(cf.wan_mtu.value,10);
/*
<% is_dsl_or_router("is_dsl_js_start"); %>
    if(cf.wan_preference.selectedIndex == 0)
    {
        cf.nvram_wan_preference.value = "0";
    }
    else if(cf.wan_preference.selectedIndex == 1)
    {
        cf.nvram_wan_preference.value = "1";
    }
    else if(cf.wan_preference.selectedIndex == 2)
    {
        cf.nvram_wan_preference.value = "2";
    }
<% is_dsl_or_router("is_dsl_js_end"); %>

   */
   return true;
}
/*
<% is_dsl_or_router("is_router_js_start"); %>  
//RU_IPTV start
function display_ru_iptv()
{
    var cf = document.forms[0];
    var ru_iptv_en = "<% russia_specific_support_vlan("status"); %>";
    var wlan1_en = "NVRAM_wla_wlanstate";
    var wlan2_en = "NVRAM_wlg_wlanstate";

    if (ru_iptv_en == "Enable")
    {
        document.getElementById("ru_iptv_support_str").style.display = "block";
        document.getElementById("ru_iptv_support_lan").style.display = "block";
        if (wlan1_en == "Enable")
            document.getElementById("ru_iptv_support_wlan1").style.display = "block";
        else
            document.getElementById("ru_iptv_support_wlan1").style.display = "none";
        if (wlan2_en == "Enable")
            document.getElementById("ru_iptv_support_wlan2").style.display = "block";
        else
            document.getElementById("ru_iptv_support_wlan2").style.display = "none";
        document.getElementById("ru_iptv_support_line").style.display = "block";
    }
    else
    {
        document.getElementById("ru_iptv_support_str").style.display = "none";
        document.getElementById("ru_iptv_support_lan").style.display = "none";
        document.getElementById("ru_iptv_support_wlan1").style.display = "none";
        document.getElementById("ru_iptv_support_wlan2").style.display = "none";
        document.getElementById("ru_iptv_support_line").style.display = "none";
    }
}
//RU_IPTV end
<% is_dsl_or_router("is_router_js_end"); %>
*/

function igmp_disable_click()
{
/*("js_start");%>
    var cf = document.forms[0];

    if(cf.disable_gproxy.checked == true)
    {
        $("#bt_igmp_container").addClass("disabled");
        cf.bt_igmp_enable.disabled = true;
    }
    else
    {
        $("#bt_igmp_container").removeClass("disabled");
        cf.bt_igmp_enable.disabled = false;
    }
<%bt_igmp_support("js_end");%>
<%ft_igmp_support("js_start");%>
    var cf = document.forms[0];

    if(cf.disable_gproxy.checked == true)
        cf.ft_igmp_enable.disabled = true;
    else
        cf.ft_igmp_enable.disabled = false;
<%ft_igmp_support("js_end");%>
*/
}


//function loadSettings()
//{
    //var cf = document.forms[0];
    //var openvpnEnable = "NVRAM_openvpnActive";
    //var spiEnable = "NVRAM_fw_spi_enab";
    //var dmzEnable = "NVRAM_fw_dmz_enab";
    //var resp2ping = "NVRAM_fw_rsp_ping";
    //var nat_inbound_filtering = cf.nat_inbound_filtering.value;
//<% russia_specific_support("c_start"); %>
    //var ipsec_passthrough = cf.ipsec_passthrough.value;
    //var pptp_passthrough = cf.pptp_passthrough.value;
    //var l2tp_passthrough = cf.l2tp_passthrough.value;
//<% russia_specific_support("c_end"); %>
    //var sipenable = "NVRAM_fw_sip_enab";
//<%bt_igmp_support("js_start");%>
    //var bt_igmp_enable = "NVRAM_bt_igmp_enable";
//<%bt_igmp_support("js_end");%>
//<%ft_igmp_support("js_start");%>
    //var ft_igmp_enable = "NVRAM_ft_igmp_enable";
//<%ft_igmp_support("js_end");%>
//
//
///*
    //var ipv6_enable = "NVRAM_ipv6_enable";
//*/
    ////RU_IPTV start
//<% russia_specific_support_vlan("c_start"); %>
    //var var_iptv_lan1 = cf.iptv_intf_lan1.value;
    //var var_iptv_lan2 = cf.iptv_intf_lan2.value;
    //var var_iptv_lan3 = cf.iptv_intf_lan3.value;
    //var var_iptv_lan4 = cf.iptv_intf_lan4.value;
    //var var_iptv_wlan1 = cf.iptv_intf_wlan1.value;
    //var var_iptv_wlan2 = cf.iptv_intf_wlan2.value;
//<% russia_specific_support_vlan("c_end"); %>
//
    //var ru_iptv_en = "<% russia_specific_support_vlan("status"); %>";
    ////RU_IPTV end
 //<% is_dsl_or_router("is_dsl_js_start"); %>
    //var gproxy_enable = "NVRAM_wan0_igmp_proxy_enable";
    //var vlanId_enable = cf.wan0_vlanId_enable.value;
    //var vlanId = cf.wan0_vlanId.value;
 //<% is_dsl_or_router("is_dsl_js_end"); %>
 //<% is_dsl_or_router("is_router_js_start"); %>
    //var gproxy_enable = "NVRAM_ru_igmp_enable";
 //<% is_dsl_or_router("is_router_js_end"); %>
//
//
    //if (nat_inbound_filtering == "1")
        //cf.NatInboundFiltering[0].checked = true;
    //else
        //cf.NatInboundFiltering[1].checked = true;
//        
//<% russia_specific_support("c_start"); %>
    //if (ipsec_passthrough == "1")
        //cf.IPSecPassthrough[0].checked = true;
    //else
        //cf.IPSecPassthrough[1].checked = true;
//        
    //if (pptp_passthrough == "1")
        //cf.PPTPPassthrough[0].checked = true;
    //else
        //cf.PPTPPassthrough[1].checked = true;
//        
    //if (l2tp_passthrough == "1")
        //cf.L2TPPassthrough[0].checked = true;
    //else
        //cf.L2TPPassthrough[1].checked = true;
//<% russia_specific_support("c_end"); %>
//
    //if (spiEnable == "1")
        //cf.disable_spi.checked = false;
    //else
        //cf.disable_spi.checked = true;
//
    //var dmzIP = cf.dmz_ip.value.split(".");
    //cf.dmzip1.value = dmzIP[0];
    //cf.dmzip2.value = dmzIP[1];
    //cf.dmzip3.value = dmzIP[2];
    //cf.dmzip4.value = dmzIP[3];
//
    //if (dmzEnable == "1")
    //{
        //cf.dmz_enable.checked = true;
    //}
    //else
    //{
        //cf.dmz_enable.checked = false;
    //}
//
    //if (resp2ping == "1")
        //cf.rspToPing.checked = true;
    //else
        //cf.rspToPing.checked = false;
//
    //if (sipenable == "1")
        //cf.disable_sip.checked = false;
    //else
        //cf.disable_sip.checked = true;
//
    //if (gproxy_enable == "1")
        //cf.disable_gproxy.checked = false;
    //else
        //cf.disable_gproxy.checked = true;
//
 //<% is_dsl_or_router("is_dsl_js_start"); %>
    //if(cf.nvram_wan_preference.value == "0")
    //{
        //cf.wan_preference[0].selected = true; 
    //}
    //else if(cf.nvram_wan_preference.value == "1")
    //{
        //cf.wan_preference[1].selected = true; 
    //}
    //else if(cf.nvram_wan_preference.value == "2")
    //{
        //cf.wan_preference[2].selected = true; 
    //}
//
 //<% is_dsl_or_router("is_dsl_js_end"); %>
//
//<%bt_igmp_support("js_start");%>
    //if(cf.disable_gproxy.checked == true)
    //{
        //$("#bt_igmp_container").removeClass("disabled");
        //cf.bt_igmp_enable.disabled = true;
    //}
    //else
    //{
        //$("#bt_igmp_container").addClass("disabled");
        //cf.bt_igmp_enable.disabled = false;
    //}
//
    //if (bt_igmp_enable == "1")
        //cf.bt_igmp_enable.checked = true;
    //else
        //cf.bt_igmp_enable.checked = false;
//<%bt_igmp_support("js_end");%>
//<%ft_igmp_support("js_start");%>
    //if(cf.disable_gproxy.checked == true)
        //cf.ft_igmp_enable.disabled = true;
    //else
        //cf.ft_igmp_enable.disabled = false;
//
    //if (ft_igmp_enable == "1")
        //cf.ft_igmp_enable.checked = true;
    //else
        //cf.ft_igmp_enable.checked = false;
//<%ft_igmp_support("js_end");%>
//
///*
    //if (ipv6_enable == "1")
        //cf.ipv6disable.checked = false;
    //else
        //cf.ipv6disable.checked = true;
    //if (cf.wan_proto.value == "pppoe")
        //cf.wan_way.value = 1454;
    //else if (cf.wan_proto.value == "pptp" || cf.wan_proto.value == "l2tp")
        //cf.wan_way.value = 1460;
    //else
//*/
//
    //if (cf.wan_proto.value == "pppoe")
        //cf.wan_way.value = 1492;
    //else if (cf.wan_proto.value == "pptp")
        //cf.wan_way.value = 1436;
    //else if (cf.wan_proto.value == "l2tp")
        //cf.wan_way.value = 1428;
    //else
        //cf.wan_way.value = 1500;
//
    //if (parseInt(cf.nvram_mtu.value,10) >= parseInt(cf.wan_way.value,10) )
        //cf.wan_mtu.value = cf.wan_way.value;
    //else
        //cf.wan_mtu.value = cf.nvram_mtu.value;
//
    //if(openvpnEnable == "enable")
        //setDisabled(true, cf.rspToPing);
    //else
        //setDisabled(false, cf.rspToPing);
 ///*   
//<% russia_specific_support_vlan("c_start"); %>
    ////RU_IPTV start
    //display_ru_iptv();
    //if (ru_iptv_en == "Enable")
    //{
        //if (var_iptv_lan1 == 1)
            //cf.enable_iptv_lan1.checked = true;
        //if (var_iptv_lan2 == 2)
            //cf.enable_iptv_lan2.checked = true;
        //if (var_iptv_lan3 == 3)
            //cf.enable_iptv_lan3.checked = true;
        //if (var_iptv_lan4 == 4)
            //cf.enable_iptv_lan4.checked = true;
        //if (var_iptv_wlan1 == 5)
            //cf.enable_iptv_wlan1.checked = true;
        //if (var_iptv_wlan2 == 6)
            //cf.enable_iptv_wlan2.checked = true;
    //}
//<% russia_specific_support_vlan("c_end"); %>*/
//}
    ////RU_IPTV end
	///*
 //<% is_dsl_or_router("is_dsl_js_start"); %>
//function disableVLANID(){
    //var cf = document.forms[0];
    //if (cf.vlanidActive.checked == false)
        //cf.vlan_id.disabled = true;
    //else
        //cf.vlan_id.disabled = false;    
//}
//<% is_dsl_or_router("is_dsl_js_end"); %>*/
</script> 
</html>


